@import url(//db.onlinewebfonts.com/c/01173b246d9d9ea808ea75a26b3b61bb?family=Circular+Spotify+Tx+T+Black);
@import url(https://fonts.googleapis.com/css2?family=Signika:wght@100;200;300;400;500;600;700&display=swap);

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	position: relative;
}

body {
	/*font-family: 'Signika', sans-serif;*/
	/*font-family: 'Circular Spotify Tx T Black';*/
	font-family: gotham, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
	font-weight: normal;
	overflow-y: auto;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
	color: inherit;
}
